/app/config/parameters.yml
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/vendor/
/node_modules/
/web/bundles/
/web/css/
/web/js/
/web/images/
/web/assetic/
/web/fonts/
/web/locales/
/web/maps/
/web/product-feed/*
/web/compiled
/.idea/*
/build/logs/
/build/report/
/tmp/*
rev-manifest.json
webpack-manifest.json
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
npm-debug.log
*.orig
/tests/enduser/features/Configurations/Dev/*.yml
/tests/enduser/features/Configurations/Prod/*.yml
/tests/enduser/features/Configurations/Pre/*.yml
/tests/enduser/features/Configurations/Staging/*.yml
/coverage
/bin/symfony_requirements